body{
  font-family: Inria Serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper, .wrapper a{
  text-align: center;
  font-size: x-large;
  text-align: center;  
  text-decoration: none;
  color: black ;
}

.content:hover{
  -webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1);
}

.wrapper img{
  width: 50%;
  border-radius: 50%;
}

.wrapper h1{
  font-size: xx-large;
}

.content{
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px
              inset -20px -20px 60px;
  justify-content: center;
  background-color: wheat;
  margin: 15px 15px 15px 15px;
  padding: 5px 5px 5px 5px;
  /* border-radius: 1em; */
}


.wrapper i{
  padding-right: 5%;
}

